{% load bootstrap5 %} 
{% bootstrap_css %} 
{% bootstrap_javascript %} 
{% bootstrap_messages %}
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="/docs/5.1/assets/brand/bootstrap-logo.svg"
        alt=""
        width="30"
        height="24"
        class="d-inline-block align-text-top"
      />
      Bootstrap
    </a>
  </div>
</nav>

<html>
  <body>
    <h1>About Us</h1>

    <p>
      Ever needed to take a dump really bad? Ever struggled to find a toilet? Us
      too! That's exactly why we decided to make Potty Partner.
    </p>
  </body>
</html>
