{% load socialaccount %}
{% load bootstrap5 %} 
{% bootstrap_css %} 
{% bootstrap_javascript %} 
{% bootstrap_messages %}

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">💩 Potty Partner</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About Us</a>
          </li>
  
        </ul>
          {% if user.is_authenticated %}
              <span class="navbar-text">
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Welcome, {{ user.first_name }}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                      <li><a class="dropdown-item" href="/logout">Log out?</a></li>
                    </ul>
                </div>
              </span>
          {% else %}
              <span class="navbar-text">
                  <a class="nav-link btn btn-primary text-light" href={% provider_login_url 'google' %} role="button">Log In</a>
              </span>
          {% endif %}
      </div>
    </div>
  </nav>
  
  <html>
    <body>
        <h1>Potty Partner Application </h1>
        {% if user.is_authenticated %}
            <p>Welcome, You are logged in as {{ user.username }}</p>
            <head>
                <title>Interactive maps for Django web apps</title>
                <script src='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.js'></script>
                <link href='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.css' rel='stylesheet' />
            </head>
              <body>
               <div id='map' width="100%" style='height:400px'></div>
               <script>
                mapboxgl.accessToken = 'pk.eyJ1Ijoic2pvc2hpMTIyNSIsImEiOiJjbDFzOW9yMzcwcHN6M2NzNnF0bXRxOGdpIn0.dZv1B-VUgqjbPp__sRW8FA';
                var map = new mapboxgl.Map({
                    container: 'map',
                    style: 'mapbox://styles/mapbox/streets-v10',
                    center: [-78.5034395, 38.03561],
                    zoom: 15
                });
                
                // Add geolocate control to the map.
                map.addControl(
                new mapboxgl.GeolocateControl({
                positionOptions: {
                enableHighAccuracy: true
                },
                // When active the map will receive updates to the device's location as it changes.
                trackUserLocation: true,
                // Draw an arrow next to the location dot to indicate which direction the device is heading.
                showUserHeading: true
                })
                );
                
               </script>
              </body>
        {% else %}
            <a href="{% provider_login_url 'google' %}">Login With Google</a>
        {% endif %}
    </body>
</html>